@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

li {
  font-weight: 700;
  margin: 12px;
  display: inline;
}

.container1 {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 35px;
}

.text {
  width: 500px;
}

.container1 h4 {
    margin-top: 25px;
  font-weight: 400;
}

.container1 img {
  align-items: flex-end;
  height: 380px;
  width: 650px;
}

.container1 input {
  height: 35px;
  width: 250px;
  color: hsl(0, 0%, 75%);
}

.container1 button {
  background-color: hsl(224, 93%, 58%);
  color: white;
  height: 40px;
  width: 150px;
  margin-left: 15px;
  border-radius: 5px;
}

.container2 {
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(240, 75%, 98%);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  height: 550px;
}

.container2 img {
  align-items: flex-end;
  height: 380px;
  width: 650px;
}

.container2 a {
  color: hsl(170, 45%, 43%);
}

.container3 {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(238, 22%, 44%);
  color: white;
  line-height: 65px;
}

.container3 p {
  line-height: 25px;
  width: 510px;
}

.button {
  display: flex;
  flex-direction: column;
  
}

.button input {
  height: 35px;
  width: 500px;
  hsl(0, 0%, 75%);
  margin: 30px;
  color: hsl(0, 0%, 75%);
}

.button button{
    margin-left: 30px;
    background-color: hsl(224, 93%, 58%);
    height: 40px;
  width: 150px;
  color: azure;
}

footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

footer ul{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.ceo{
    margin-top: 40px;
    height: 180px;
    padding: 35px;
    line-height: 25px;
    width: 350px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 30px;
}

.ceo img{
    height: 10px;
    width: 10px;
}

.kyle{
    margin-top: 20px;
    display: flex;
    font-size: 10px;
    line-height: 20px;
}

.kyle img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


footer a{
    color: white;
}

footer img{
    filter:invert(100%);
}